label{
    display:block;
    color: aliceblue;
}
textarea{
    display: block;
}
h1{
    text-align: center;
    color: aliceblue;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
input{
    display: block;
}
body{
    background-color: black;
    width: 40%;
    left: 30%;
    position: relative;
}