label{
    display:block;
    color: rgb(0, 0, 0);
}
textarea{
    display: block;
}
h1{
    text-align: center;
    color: rgb(0, 0, 0);
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
input{
    display: block;
}
body{
    background-color: rgb(63, 191, 159);
    width: 20%;
    left: 50%;
    position: relative;
    transform: translate(-50%,0);
}