label{
    display:block;
}
textarea{
    display: block;
}
h1{
    text-align: center;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
input{
    display: block;
}
