html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-content {
    color: rgb(235, 0, 180);
    height: 40%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: grid;

    grid-template-columns: repeat(4, 1fr) 2fr;
    grid-template-rows: repeat(6, 1fr);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

#profile-img {
    grid-column: span 4;
    grid-row: span 5;
    position: relative;
    border: 1px solid rgb(216, 56, 168);
    border-radius: 5% 0 0 0;

    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    filter: grayscale();
    transition: filter 0.5s ease, transform 0.5s ease;
}

img:hover {
    filter: grayscale(0%);
    transform: scale(1.025);
}

#name {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    background-color: rgba(25, 25, 25, 0.6);
    border-radius: 50px;
    border: 1px solid black;
    padding: 0.4em;
    transition: all 0.4s ease;
}

#profile-img:hover #name {
    top: 85%;
    color: rgb(204, 46, 162);
}

#navigation {
    grid-column: span 1;
    grid-row: span 6;
    display: grid;
    text-align: center;
    align-items: center;
}

#navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

#navigation li {
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: roboto;
    border: 1px solid rgb(213, 47, 186);
}

#navigation li:first-child {
    border-radius: 0 5% 0 0;
}

#navigation li:last-child {
    border-radius: 0 0 5% 0;
}

#navigation a {
    text-decoration: none;
    color: inherit;
    transition: color 0.5s ease;
}

#navigation li:hover {
    color: rgb(209, 81, 188);
}

#social-media {
    align-items: center;
    display: flex;
    grid-column: span 4;
    grid-row: span 1;
    justify-content: space-evenly;
}

.social-media-btn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #171717;
    border: 1px solid black;
}

.social-media-btn:hover{
    color: rgb(209, 98, 192);
}

#social-media .social-media-btn:first-child {
    border-radius: 0 0 0 5%;
}